<div class="container p-1 b-2">
  <div><h6 class="my-auto mx-auto text-white text-center bg-secondary" style="height: 30px; border-radius: 5%;">{{titulo}}</h6></div>
    <div class="row">
    {{#each usuarios}}
    <div class="col-md-4 p-3">
      <div class="card text-center">
        <div class="card-body">
          <a href="/admin/edit_user/{{Identificacion}}">
            <h3 class="card-title text-uppercase">
              {{Identificacion}}
            </h3>
          </a>
          <p class="m-2">{{Nombres}} {{Apellidos}}</p>
          <p>{{Descripcion}} - {{Estado}}</p>
          
          <a href="/admin/est_rol_user/{{Identificacion}}" class="btn btn-primary">Actualizar Rol</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>